#Binary Files
*.bin
*.sys

#The images
*.img
*.qcow2
*.vmdk

#Object files
*.o

*.bash_history

*.out

RowDaBoat-x64barebones-d4e1c147f975/run2.sh

#VSCode files
.vscode/

#Clang formatting files
.clang-format

#GDB Stuff
.gdb_history
.elf
.gdbinit
